<!DOCTYPE html>
<!-- classify 分类 -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>所有商品页面</title>
    <link rel="stylesheet" type="text/css" href="../Content/css/css-reset.css">
    <link rel="stylesheet" type="text/css" href="../Content/css/all-product.css">
</head>

<body>
    <!-- 左边栏/s -->
    <div class="w1200 mauto">
        <div class="left fl">
            <div class="left-search">
                <div class="left-head">本店搜索</div>
                <div class="left-search-box">
                    <p>关键字</p>
                    <input type="text" placeholder="保湿" class="searchname" />
                    <p>价格</p>
                    <div class="inputwrap">
                        <input type="text" placeholder="&yen;" class="price" /> -
                        <input type="text" placeholder="&yen;" class="price" />
                    </div>
                    <button class="btn-search"><i class="icon-search"></i></button>
                </div>
            </div>
            <div class="left-classify mt20">
                <div class="left-head">宝贝分类</div>
                <div class="left-classify-box">
                    <h1 class="pr"><i class="sanjiao"></i>美妆</h1>
                    <ul>
                        <li><a href="">护肤品</a></li>
                        <li><a href="">彩妆</a></li>
                        <li><a href="">面膜</a></li>
                        <li><a href="">彩妆</a></li>
                        <li><a href="">彩妆</a></li>
                    </ul>
                    <h1 class="pr"><i class="sanjiao"></i>时尚潮牌</h1>
                    <ul>
                        <li><a href="">配饰</a></li>
                        <li><a href="">贴身衣物</a></li>
                        <li><a href="">上衣</a></li>
                        <li><a href="">下衣</a></li>
                        <li><a href="">套装</a></li>
                    </ul>
                    <h1 class="pr"><i class="sanjiao"></i>日常护理</h1>
                    <ul>
                        <li><a href="">洗漱品如果字体太长了就会像我这样了</a></li>
                        <li><a href="">护肤品</a></li>
                        <li><a href="">护理品</a></li>
                        <li><a href="">保健品</a></li>
                        <li><a href="">润发品</a></li>
                        <li><a href="">儿童用品</a></li>
                    </ul>
                </div>
            </div>
            <div class="left-rank mt20">
                <div class="left-head">热销排行</div>
                <div class="left-rank-box">
                    <a href=""><img src="../Content/images/left-product.png" alt="商品名" />
                        <p><span class="title">艺术课堂Too Cool For Shcool光泽sdadasd</span><span class="isprice">&yen;49.00+29积分</span></p>
                    </a>
                    <a href=""><img src="../Content/images/left-product.png" alt="商品名" />
                        <p><span class="title">艺术课堂Too Cool For Shcool光泽sdadasd</span><span class="isprice">&yen;49.00+29积分</span></p>
                    </a>
                    <a href=""><img src="../Content/images/left-product.png" alt="商品名" />
                        <p><span class="title">艺术课堂Too Cool For Shcool光泽sdadasd</span><span class="isprice">&yen;49.00+29积分</span></p>
                    </a>
                    <a href=""><img src="../Content/images/left-product.png" alt="商品名" />
                        <p><span class="title">艺术课堂Too Cool For Shcool光泽sdadasd</span><span class="isprice">&yen;49.00+29积分</span></p>
                    </a>
                    <a href=""><img src="../Content/images/left-product.png" alt="商品名" />
                        <p><span class="title">艺术课堂Too Cool For Shcool光泽sdadasd</span><span class="isprice">&yen;49.00+29积分</span></p>
                    </a>
                    <a href=""><img src="../Content/images/left-product.png" alt="商品名" />
                        <p><span class="title">艺术课堂Too Cool For Shcool光泽sdadasd</span><span class="isprice">&yen;49.00+29积分</span></p>
                    </a>
                    <a href=""><img src="../Content/images/left-product.png" alt="商品名" />
                        <p><span class="title">艺术课堂Too Cool For Shcool光泽sdadasd</span><span class="isprice">&yen;49.00+29积分</span></p>
                    </a>
                    <a href=""><img src="../Content/images/left-product.png" alt="商品名" />
                        <p><span class="title">艺术课堂Too Cool For Shcool光泽sdadasd</span><span class="isprice">&yen;49.00+29积分</span></p>
                    </a>
                    <a href=""><img src="../Content/images/left-product.png" alt="商品名" />
                        <p><span class="title">艺术课堂Too Cool For Shcool光泽sdadasd</span><span class="isprice">&yen;49.00+29积分</span></p>
                    </a>
                </div>
            </div>
        </div>
        <!-- 左边栏/e -->
        <!-- 右边栏/s -->
        <div class="right fl ml15">
            <div class="right-word">
                <div class="right-word-header clearfix"><b>已选：</b>
                <!-- 活动选区动态加入/s -->
                <div class="xyf-box clearfix"></div>
                <!-- 活动选区动态加入/e -->
                    <button class="fr choice 
expansion" type="button"><b class="jia-expansion"></b>多选</button>
                    <button class="fr choice shrink" type="button"><b class="jia-shrink"></b>多选</button>
                </div>
                <div class="right-word-box">
                    <div class="brand clearfix"><b>品牌：</b>
                        <ul>
                            <li>
                                
                                    <input type="checkbox" value="文字过长就会这样aaaaa" class="inp brand-0" /><p>文字过长就会这样aaaaa</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="SUM37呼吸" class="inp brand-1" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="SUM37呼吸" class="inp brand-2" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="SUM37呼吸" class="inp brand-3" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="SUM37呼吸" class="inp brand-4" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp brand-5" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp brand-6" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp brand-7" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp brand-8" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp brand-9" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp brand-10" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp brand-11" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp brand-12" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp brand-13" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp brand-14" /><p>more</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp brand-15" /><p>more</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp brand-16" /><p>more</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp brand-17" /><p>more</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp brand-18" /><p>more</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp brand-19" /><p>more</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp brand-20" /><p>more</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp brand-21" /><p>more</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp brand-22" /><p>more</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp brand-23" /><p>more</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp brand-24" /><p>more</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp brand-25" /><p>more</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp brand-26" /><p>more</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp brand-27" /><p>more</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp brand-28" /><p>more</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp brand-29" /><p>more</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp brand-30" /><p>more</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp brand-31" /><p>more</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp brand-32" /><p>more</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp brand-33" /><p>more</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp brand-34" /><p>more</p>
                            </li>
                        </ul>
                        <div class='more'>更多&nbsp;&or;</div><div class='less'>收起&nbsp;&uarr;</div>
                    </div>
                    <div class="classify clearfix"><b>分类：</b>
                        <ul>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp classify-0" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp classify-1" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp classify-2" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp classify-3" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp classify-4" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp classify-5" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp classify-6" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp classify-7" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp classify-8" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp classify-9" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp classify-10" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp classify-11" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp classify-12" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp classify-13" /><p>SUM37呼吸</p>
                            </li>
                           
                        </ul>
                         <div class='more'>更多&nbsp;&or;</div><div class='less'>收起&nbsp;&uarr;</div>
                    </div>
                    <div class="effect clearfix"><b>功效：</b>
                        <ul>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp effect-0" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp effect-1" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp effect-2" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp effect-3" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp effect-4" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp effect-5" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp effect-6" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp effect-7" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp effect-8" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp effect-9" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp effect-10" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp effect-11" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp effect-12" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp effect-13" /><p>SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp effect-14" /><p>more</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp effect-15" /><p>more</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp effect-16" /><p>more</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp effect-17" /><p>more</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="商品0" class="inp effect-18" /><p>more</p>
                            </li>
                            <li>
                        
                        </ul>
                         <div class='more'>更多&nbsp;&or;</div><div class='less'>收起&nbsp;&uarr;</div>
                    </div>
                    <div class="price clearfix"><b>价格：</b>
                        <ul>
                            <li>
                                
                                    <input type="checkbox" value="0~200元" class="inp price-0" /><p>0~200元</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="200元~600元" class="inp price-1" /><p>200元~600元</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="600元~1000元" class="inp price-2" /><p>600元~1000元</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="1000元以上" class="inp price-3" /><p>1000元以上</p>
                            </li>
                            
                           
                        </ul>
                         <div class='more'>更多&nbsp;&or;</div><div class='less'>收起&nbsp;&uarr;</div>
                    </div>

                </div>
                <div class="btn-area"><button type="button" class="reset">重选</button><button type="button" class="sure">确定</button></div>
                <div class="right-pic">
                    <div class="right-pic-header"></div>
                </div>
            </div>
        </div>
        <!-- 右边栏/e -->
    </div>
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="../Script/allProduct.js"></script>
</body>

</html>
