<!DOCTYPE html>
<!-- classify 分类 -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>所有商品页面</title>
    <link rel="stylesheet" type="text/css" href="../Content/css/css-reset.css">
    <link rel="stylesheet" type="text/css" href="../Content/css/all-product.css">
</head>

<body>
    <!-- 左边栏/s -->
    <div class="w1200 mauto">
        <div class="left fl">
            <div class="left-search">
                <div class="left-head">本店搜索</div>
                <div class="left-search-box">
                    <p>关键字</p>
                    <input type="text" placeholder="保湿" class="searchname" />
                    <p>价格</p>
                    <div class="inputwrap">
                        <input type="text" placeholder="&yen;" class="price" /> -
                        <input type="text" placeholder="&yen;" class="price" />
                    </div>
                    <button class="btn-search"><i class="icon-search"></i></button>
                </div>
            </div>
            <div class="left-classify mt20">
                <div class="left-head">宝贝分类</div>
                <div class="left-classify-box">
                    <h1 class="pr"><i class="sanjiao"></i>美妆</h1>
                    <ul>
                        <li><a href="">护肤品</a></li>
                        <li><a href="">彩妆</a></li>
                        <li><a href="">面膜</a></li>
                        <li><a href="">彩妆</a></li>
                        <li><a href="">彩妆</a></li>
                    </ul>
                    <h1 class="pr"><i class="sanjiao"></i>时尚潮牌</h1>
                    <ul>
                        <li><a href="">配饰</a></li>
                        <li><a href="">贴身衣物</a></li>
                        <li><a href="">上衣</a></li>
                        <li><a href="">下衣</a></li>
                        <li><a href="">套装</a></li>
                    </ul>
                    <h1 class="pr"><i class="sanjiao"></i>日常护理</h1>
                    <ul>
                        <li><a href="">洗漱品如果字体太长了就会像我这样了</a></li>
                        <li><a href="">护肤品</a></li>
                        <li><a href="">护理品</a></li>
                        <li><a href="">保健品</a></li>
                        <li><a href="">润发品</a></li>
                        <li><a href="">儿童用品</a></li>
                    </ul>
                </div>
            </div>
            <div class="left-rank mt20">
                <div class="left-head">热销排行</div>
                <div class="left-rank-box">
                    <a href=""><img src="../Content/images/left-product.png" alt="商品名" />
                        <p><span class="title">艺术课堂Too Cool For Shcool光泽sdadasd</span><span class="isprice">&yen;49.00+29积分</span></p>
                    </a>
                    <a href=""><img src="../Content/images/left-product.png" alt="商品名" />
                        <p><span class="title">艺术课堂Too Cool For Shcool光泽sdadasd</span><span class="isprice">&yen;49.00+29积分</span></p>
                    </a>
                    <a href=""><img src="../Content/images/left-product.png" alt="商品名" />
                        <p><span class="title">艺术课堂Too Cool For Shcool光泽sdadasd</span><span class="isprice">&yen;49.00+29积分</span></p>
                    </a>
                    <a href=""><img src="../Content/images/left-product.png" alt="商品名" />
                        <p><span class="title">艺术课堂Too Cool For Shcool光泽sdadasd</span><span class="isprice">&yen;49.00+29积分</span></p>
                    </a>
                    <a href=""><img src="../Content/images/left-product.png" alt="商品名" />
                        <p><span class="title">艺术课堂Too Cool For Shcool光泽sdadasd</span><span class="isprice">&yen;49.00+29积分</span></p>
                    </a>
                    <a href=""><img src="../Content/images/left-product.png" alt="商品名" />
                        <p><span class="title">艺术课堂Too Cool For Shcool光泽sdadasd</span><span class="isprice">&yen;49.00+29积分</span></p>
                    </a>
                    <a href=""><img src="../Content/images/left-product.png" alt="商品名" />
                        <p><span class="title">艺术课堂Too Cool For Shcool光泽sdadasd</span><span class="isprice">&yen;49.00+29积分</span></p>
                    </a>
                    <a href=""><img src="../Content/images/left-product.png" alt="商品名" />
                        <p><span class="title">艺术课堂Too Cool For Shcool光泽sdadasd</span><span class="isprice">&yen;49.00+29积分</span></p>
                    </a>
                    <a href=""><img src="../Content/images/left-product.png" alt="商品名" />
                        <p><span class="title">艺术课堂Too Cool For Shcool光泽sdadasd</span><span class="isprice">&yen;49.00+29积分</span></p>
                    </a>
                </div>
            </div>
        </div>
        <!-- 左边栏/e -->
        <!-- 右边栏/s -->
        <div class="right fl ml15">
            <div class="right-word">
                <div class="right-word-header clearfix"><b>已选：</b>
                <!-- 活动选区动态加入/s -->
                <div class="xyf-box clearfix"></div>
                <!-- 活动选区动态加入/e -->
                    <button class="fr choice 
expansion" type="button"><b class="jia-expansion"></b>多选</button>
                    <button class="fr choice shrink" type="button"><b class="jia-shrink"></b>多选</button>
                </div>
                <!-- 选区/s -->
                <div class="right-word-box">
                    <div class="brand clearfix"><b>品牌：</b>
                        <ul>
                            <li>
                                
                                    <input type="checkbox" value="it's&nbsp;skin&nbsp;伊思" class="inp brand-0" /><p title="it's skin 伊思">it's&nbsp;skin&nbsp;伊思</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="芭妮兰banilaco" class="inp brand-1" /><p title="芭妮兰banilaco">芭妮兰banilaco</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="欧蕙OHUI" class="inp brand-2" /><p title="欧蕙OHUI">欧蕙OHUI</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="后WHOO" class="inp brand-3" /><p title="后WHOO">后WHOO</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="too cool for school" class="inp brand-4" /><p title="too&nbsp;cool&nbsp;for&nbsp;school">too&nbsp;cool&nbsp;for&nbsp;school</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="黑熊家族milatte" class="inp brand-5" /><p title="黑熊家族milatte">黑熊家族milatte</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="SUM37呼吸" class="inp brand-6" /><p title="SUM37呼吸">SUM37呼吸</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="秀丽韩Sooryehan" class="inp brand-7" /><p title="秀丽韩Sooryehan">秀丽韩Sooryehan</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="BEYOND碧雅德" class="inp brand-8" /><p title="BEYOND碧雅德">BEYOND碧雅德</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="九朵云Cloud 9" class="inp brand-9" /><p title="九朵云Cloud&nbsp;9">九朵云Cloud&nbsp;9</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="可莱丝clinie" class="inp brand-10" /><p title="可莱丝clinie">可莱丝clinie</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="高丽亚娜Coreana" class="inp brand-11" /><p title="高丽亚娜Coreana">高丽亚娜Coreana</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="赫拉HERA" class="inp brand-12" /><p title="赫拉HERA">赫拉HERA</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="亦博IOPE" class="inp brand-13" /><p title="亦博IOPE">亦博IOPE</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="伊蒂之屋ETUDE HOUSE" class="inp brand-14" /><p title="伊蒂之屋ETUDE&nbsp;HOUSE">伊蒂之屋ETUDE&nbsp;HOUSE</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="自然乐园NATURE REPUBLIC" class="inp brand-15" /><p title="自然乐园NATURE&nbsp;REPUBLIC">自然乐园NATURE&nbsp;REPUBLIC</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="VDL" class="inp brand-16" /><p title="VDL">VDL</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="MCM/包包" class="inp brand-17" /><p title="MCM/包包">MCM/包包</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="兰芝Laneige" class="inp brand-18" /><p title="兰芝Laneige">兰芝Laneige</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="伊诺姿ISA KNOX" class="inp brand-19" /><p title="伊诺姿ISA&nbsp;KNOX">伊诺姿ISA&nbsp;KNOX</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="丽得姿Leaders" class="inp brand-20" /><p title="丽得姿Leaders">丽得姿Leaders</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="Holika Holika" class="inp brand-21" /><p title="Holika&nbsp;Holika">Holika&nbsp;Holika</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="MiZLiNE/瘦腿袜" class="inp brand-22" /><p title="MiZLiNE/瘦腿袜">MiZLiNE/瘦腿袜</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="SNRD EYEWEAR/潮牌墨镜" class="inp brand-23" /><p title="SNRD EYEWEAR/潮牌墨镜">SNRD&nbsp;EYEWEAR/潮牌墨镜</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="汤姆·福特TOM&nbsp;FORD/设计师品牌" class="inp brand-24" /><p title="汤姆·福特TOM&nbsp;FORD/设计师品牌">汤姆·福特TOM&nbsp;FORD/设计师品牌</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="SODAMON/街头潮牌" class="inp brand-25" /><p title="SODAMON">SODAMON/街头潮牌</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="LG贵爱娘" class="inp brand-26" /><p title="LG贵爱娘">LG贵爱娘</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="宝露露Pororo" class="inp brand-27" /><p title="宝露露Pororo">宝露露Pororo</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="清润真OMEGA3" class="inp brand-28" /><p title="清润真OMEGA3">清润真OMEGA3</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="福库CUCKOO" class="inp brand-29" /><p title="福库CUCKOO">福库CUCKOO</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="U咕噜" class="inp brand-30" /><p title="U咕噜">U咕噜</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="爱茉莉Amore" class="inp brand-31" /><p title="爱茉莉Amore">爱茉莉Amore</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="舒美SUME&nbsp;大健康" class="inp brand-32" /><p title="舒美SUME&nbsp;大健康">舒美SUME&nbsp;大健康</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="倍瑞傲Perioe" class="inp brand-33" /><p title="倍瑞傲Perioe">倍瑞傲Perioe</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="ON&nbsp;THE&nbsp;BODY" class="inp brand-34" /><p title="ON&nbsp;THE&nbsp;BODY">ON&nbsp;THE&nbsp;BODY</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="惠人HUROM" class="inp brand-35" /><p title="惠人HUROM">惠人HUROM</p>
                            </li>

							<li>
                                
                                    <input type="checkbox" value="LG睿嫣" class="inp brand-36" /><p title="LG睿嫣">LG睿嫣</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="LG陶陶安" class="inp brand-37" /><p title="LG陶陶安">LG陶陶安</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="爱润丝婷Elastine" class="inp brand-38" /><p title="爱润丝婷Elastine">爱润丝婷Elastine</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="LG洗护" class="inp brand-39" /><p title="LG洗护">LG洗护</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="笛丝" class="inp brand-40" /><p title="笛丝">笛丝</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="高丽雅娜" class="inp brand-41" /><p title="高丽雅娜">高丽雅娜</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="舒美" class="inp brand-42" /><p title="舒美">舒美</p>
                            </li>

                        </ul>
                        <div class='more'>更多&nbsp;&or;</div><div class='less'>收起&nbsp;&uarr;</div>
                    </div>
                    <div class="classify clearfix"><b>分类：</b>
                        <ul>
                            <li>
                                
                                    <input type="checkbox" value="洁面" class="inp classify-0" /><p title="洁面">洁面</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="卸妆" class="inp classify-1" /><p title="卸妆">卸妆</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="化妆水/爽肤水" class="inp classify-2" /><p title="化妆水/爽肤水">化妆水/爽肤水</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="BB霜/气垫霜" class="inp classify-3" /><p title="BB霜/气垫霜">BB霜/气垫霜</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="隔离/妆前" class="inp classify-4" /><p title="隔离/妆前">隔离/妆前</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="眼线" class="inp classify-5" /><p title="眼线">眼线</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="精华" class="inp classify-6" /><p title="精华">精华</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="身体护理" class="inp classify-7" /><p title="身体护理">身体护理</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="护肤套装" class="inp classify-8" /><p title="护肤套装">护肤套装</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="唇膏/唇彩" class="inp classify-9" /><p title="唇膏/唇彩">唇膏/唇彩</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="粉底" class="inp classify-10" /><p title="粉底">粉底</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="眉笔" class="inp classify-11" /><p title="眉笔">眉笔</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="乳液" class="inp classify-12" /><p title="乳液">乳液</p>
                            </li>
                           
                                
                                     <li><input type="checkbox" value="面霜" class="inp classify-13" /><p title="面霜">面霜</p> </li>
                                     <li><input type="checkbox" value="眼部护理" class="inp classify-14" /><p title="眼部护理">眼部护理</p> </li>
                                     <li><input type="checkbox" value="睫毛膏" class="inp classify-15" /><p title="睫毛膏">睫毛膏</p> </li>
                                     <li><input type="checkbox" value="眼影" class="inp classify-16" /><p title="眼影">眼影</p> </li>
                                     <li><input type="checkbox" value="腮红" class="inp classify-17" /><p title="腮红">腮红</p> </li>
                                     <li><input type="checkbox" value="男士护肤" class="inp classify-18" /><p title="男士护肤">男士护肤</p> </li>
                                     <li><input type="checkbox" value="面膜" class="inp classify-19" /><p title="面膜">面膜</p> </li>
                                     <li><input type="checkbox" value="防晒霜" class="inp classify-20" /><p title="防晒霜">防晒霜</p> </li>
                                     <li><input type="checkbox" value="遮瑕/修颜" class="inp classify-21" /><p title="遮瑕/修颜">遮瑕/修颜</p> </li>
                                     <li><input type="checkbox" value="创可贴" class="inp classify-22" /><p title="创可贴">创可贴</p> </li>
                                     <li><input type="checkbox" value="止痒露" class="inp classify-23" /><p title="止痒露">止痒露</p> </li>
                                     <li><input type="checkbox" value="包包" class="inp classify-24" /><p title="包包">包包</p> </li>
                                     <li><input type="checkbox" value="墨镜" class="inp classify-25" /><p title="墨镜">墨镜</p> </li>
                                     <li><input type="checkbox" value="打底裤" class="inp classify-26" /><p title="打底裤">打底裤</p> </li>
                                     <li><input type="checkbox" value="酵素" class="inp classify-27" /><p title="酵素">酵素</p> </li>
                                     <li><input type="checkbox" value="肝宝" class="inp classify-28" /><p title="肝宝">肝宝</p> </li>
                                     <li><input type="checkbox" value="血通" class="inp classify-29" /><p title="血通">血通</p> </li>
                                     <li><input type="checkbox" value="洗手液" class="inp classify-30" /><p title="洗手液">洗手液</p> </li>
                                     <li><input type="checkbox" value="牙膏" class="inp classify-31" /><p title="牙膏">牙膏</p> </li>
                                     <li><input type="checkbox" value="洗发" class="inp classify-32" /><p title="洗发">洗发</p> </li>
                                     <li><input type="checkbox" value="护眼宝" class="inp classify-33" /><p title="护眼宝">护眼宝</p> </li>
                                     <li><input type="checkbox" value="护宫宝" class="inp classify-34" /><p title="护宫宝">护宫宝</p> </li>
                                     <li><input type="checkbox" value="机能宝" class="inp classify-35" /><p title="机能宝">机能宝</p> </li>
                                     <li><input type="checkbox" value="沐浴露/液/膏" class="inp classify-36" /><p title="沐浴露/液/膏">沐浴露/液/膏</p> </li>
                                     <li><input type="checkbox" value="身体/护手乳" class="inp classify-37" /><p title="身体/护手乳">身体/护手乳</p> </li>
                                     <li><input type="checkbox" value="洗发水" class="inp classify-38" /><p title="洗发水">洗发水</p> </li>
                                     <li><input type="checkbox" value="染发剂" class="inp classify-39" /><p title="染发剂">染发剂</p> </li>
                                     <li><input type="checkbox" value="焗油膏" class="inp classify-40" /><p title="焗油膏">焗油膏</p> </li>
                                     <li><input type="checkbox" value="护发精油" class="inp classify-41" /><p title="护发精油">护发精油</p> </li>
                                     <li><input type="checkbox" value="洗衣片" class="inp classify-42" /><p title="洗衣片">洗衣片</p> </li>
                                     <li><input type="checkbox" value="卫生巾" class="inp classify-43" /><p title="卫生巾">卫生巾</p> </li>
                                     <li><input type="checkbox" value="学习筷" class="inp classify-44" /><p title="学习筷">学习筷</p> </li>
                                     <li><input type="checkbox" value="纸尿裤" class="inp classify-45" /><p title="纸尿裤">纸尿裤</p> </li>
                                     <li><input type="checkbox" value="食器/牙刷/旅行/三合一/套盒" class="inp classify-46" /><p title="食器/牙刷/旅行/三合一/套盒">食器/牙刷/旅行/三合一/套盒</p> </li>
                                     <li><input type="checkbox" value="驱蚊喷雾" class="inp classify-47" /><p title="驱蚊喷雾">驱蚊喷雾</p> </li>
                                     <li><input type="checkbox" value="瘦腿贴" class="inp classify-48" /><p title="瘦腿贴">瘦腿贴</p> </li>
                                     <li><input type="checkbox" value="热/冷溶脂贴" class="inp classify-49" /><p title="热/冷溶脂贴">热/冷溶脂贴</p> </li>     
                        </ul>
                         <div class='more'>更多&nbsp;&or;</div><div class='less'>收起&nbsp;&uarr;</div>
                    </div>
                    <div class="effect clearfix"><b>功效：</b>
                        <ul>
                            <li>
                                
                                    <input type="checkbox" value="美白去黄" class="inp effect-0" /><p title="美白去黄">美白去黄</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="补水保湿" class="inp effect-1" /><p title="补水保湿">补水保湿</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="清洁控油" class="inp effect-2" /><p title="清洁控油">清洁控油</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="祛痘淡印" class="inp effect-3" /><p title="祛痘淡印">祛痘淡印</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="改善黑眼圈" class="inp effect-4" /><p title="改善黑眼圈">改善黑眼圈</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="去黑头" class="inp effect-5" /><p title="去黑头">去黑头</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="提拉紧致" class="inp effect-6" /><p title="提拉紧致">提拉紧致</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="修复舒缓" class="inp effect-7" /><p title="修复舒缓">修复舒缓</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="养肌平衡" class="inp effect-8" /><p title="养肌平衡">养肌平衡</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="防晒祛斑" class="inp effect-9" /><p title="防晒祛斑">防晒祛斑</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="抗过敏" class="inp effect-10" /><p title="抗过敏">抗过敏</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="去皱纹" class="inp effect-11" /><p title="去皱纹">去皱纹</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="干性皮肤" class="inp effect-12" /><p title="干性皮肤">干性皮肤</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="混合性皮肤" class="inp effect-13" /><p title="混合性皮肤">混合性皮肤</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="油性皮肤" class="inp effect-14" /><p title="油性皮肤">油性皮肤</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="中性皮肤" class="inp effect-15" /><p title="中性皮肤">中性皮肤</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="敏感性皮肤" class="inp effect-16" /><p title="敏感性皮肤">敏感性皮肤</p>
                            </li>     
                        </ul>
                         <div class='more'>更多&nbsp;&or;</div><div class='less'>收起&nbsp;&uarr;</div>
                    </div>
                    <div class="price clearfix"><b>价格：</b>
                        <ul>
                            <li>
                                
                                    <input type="checkbox" value="0~99元" class="inp price-0" /><p title="0~99元">0~99元</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="100-299元" class="inp price-1" /><p title="100-299元">100-299元</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="300-599元" class="inp price-2" /><p title="300-599元">300-599元</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="600-999元" class="inp price-3" /><p title="600-999元">600-999元</p>
                            </li>
                            <li>
                                
                                    <input type="checkbox" value="1000元以上" class="inp price-4" /><p title="1000元以上">1000元以上</p>
                            </li>
                           
                        </ul>
                         <div class='more'>更多&nbsp;&or;</div><div class='less'>收起&nbsp;&uarr;</div>
                    </div>
                </div>
                  <!-- 选区/e -->
                <div class="btn-area"><button type="button" class="reset">重选</button><button type="button" class="sure">确定</button></div>
                <div class="right-pic">
                	<!-- 分类栏/s -->
                    <div class="right-pic-header">
                    <b>排序：</b>
                    	<ul class="fl right-pic-header-menu">
                    		<li class="on">综合<i class="cssgaga icon-arrows"></i></li>
                    		<li>价格<i class="cssgaga icon-updown"></i></li>
                    		<li>销量<i class="cssgaga icon-arrows"></i></li>
                    		<li>人气<i class="cssgaga icon-arrows"></i></li>
                    		<li>新品在前</li>
                    		<li><input type="checkbox" class="selling" id="selling" /><label for="selling">只看特卖</label></li>
                    	</ul>
                    	<ul class="fr right-pic-header-data">
                    		<li>共<em>200</em>个商品</li>
                    		<li class="line"></li>
                    		<li><em>1</em>/6页</li>
                    		<li><button type="button" class="btn-prev on">上一页</button></li>
                    		<li><button type="button" class="btn-next">下一页</button></li>
                    	</ul>
                    </div>
                    <!-- 分类栏/e -->
					<div class="right-list clearfix">
	                    <div class="right-list-box pr">
	                    	<div>
		                    		<img src="../Content/images/right-list-box.jpg" title="产品" class="right-list-box-img" />
									<h1 class="right-list-box-h1"><a href="" target="_blank">碧雅德Beyond 喜马拉雅深层保湿修护精华油 文字长了就会这样显示aaaaaaaffffffffffffffffffff</a></h1>
									<p class="right-list-box-price">&yen;<span>125.00</span>+63积分<i class="right-list-box-price-xp">新品</i><i class="right-list-box-price-cx">促销</i></p>
									<div class="right-list-box-pj">99%的买家评价<span><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i></span></div>
									<div class="mt15 ml25"><button class="btn-buynow fl mr5" type="button">加入购物车</button><button class="btn-collect fl" type="button"><i class="cssgaga icon-star"></i>收藏</button></div>
							</div>
							<div class="right-list-box-hover" style='display: none'>
		                    		<div class="right-list-box-hover-left">
		                    			<ul class="mt37 pr">
		                    				<li class="on"><img src="../Content/images/pic-small.png" alt='商品' /></li>
		                    				<li><img src="../Content/images/pic-small.png" alt='商品' /></li>
		                    				<li><img src="../Content/images/pic-small.png" alt='商品' /></li>
		                    			</ul>
		                    		</div>
		                    		<div class="right-list-box-hover-right">
		                    			<img src="../Content/images/right-list-box.jpg" title="产品" class="right-list-box-img" />
										<h1 class="right-list-box-h1"><a href="" target="_blank">碧雅德Beyond 喜马拉雅深层保湿修护精华油 文字长了就会这样显示aaaaaaaffffffffffffffffffff</a></h1>
										<p class="right-list-box-price">&yen;<span>125.00</span>+63积分<i class="right-list-box-price-xp">新品</i><i class="right-list-box-price-cx">促销</i></p>
										<div class="right-list-box-pj">99%的买家评价<span><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i></span></div>
										<div class="mt15 ml25 clearfix"><button class="btn-buynow fl mr5" type="button">加入购物车</button><button class="btn-collect fl" type="button"><i class="cssgaga icon-star"></i>收藏</button></div>
											<div class="right-list-box-hover-ms clearfix">
			                    			<p>改善皱纹</p>
			                    			<p>美白保湿</p>
			                    			</div>
		                    		</div>
		                    		
	                    	</div>
	                    </div>
	                    <div class="right-list-box pr">
	                    	<div>
		                    		<img src="../Content/images/right-list-box.jpg" title="产品" class="right-list-box-img" />
									<h1 class="right-list-box-h1"><a href="" target="_blank">碧雅德Beyond 喜马拉雅深层保湿修护精华油 文字长了就会这样显示aaaaaaaffffffffffffffffffff</a></h1>
									<p class="right-list-box-price">&yen;<span>125.00</span>+63积分<i class="right-list-box-price-xp">新品</i><i class="right-list-box-price-cx">促销</i></p>
									<div class="right-list-box-pj">99%的买家评价<span><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i></span></div>
									<div class="mt15 ml25"><button class="btn-buynow fl mr5" type="button">加入购物车</button><button class="btn-collect fl" type="button"><i class="cssgaga icon-star"></i>收藏</button></div>
							</div>
							<div class="right-list-box-hover" style='display: none'>
		                    		<div class="right-list-box-hover-left">
		                    			<ul class="mt37 pr">
		                    				<li class="on"><img src="../Content/images/pic-small.png" alt='商品' /></li>
		                    				<li><img src="../Content/images/pic-small.png" alt='商品' /></li>
		                    				<li><img src="../Content/images/pic-small.png" alt='商品' /></li>
		                    			</ul>
		                    		</div>
		                    		<div class="right-list-box-hover-right">
		                    			<img src="../Content/images/right-list-box.jpg" title="产品" class="right-list-box-img" />
										<h1 class="right-list-box-h1"><a href="" target="_blank">碧雅德Beyond 喜马拉雅深层保湿修护精华油 文字长了就会这样显示aaaaaaaffffffffffffffffffff</a></h1>
										<p class="right-list-box-price">&yen;<span>125.00</span>+63积分<i class="right-list-box-price-xp">新品</i><i class="right-list-box-price-cx">促销</i></p>
										<div class="right-list-box-pj">99%的买家评价<span><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i></span></div>
										<div class="mt15 ml25 clearfix"><button class="btn-buynow fl mr5" type="button">加入购物车</button><button class="btn-collect fl" type="button"><i class="cssgaga icon-star"></i>收藏</button></div>
											<div class="right-list-box-hover-ms clearfix">
			                    			<p>改善皱纹</p>
			                    			<p>美白保湿</p>
			                    			</div>
		                    		</div>
		                    		
	                    	</div>
	                    </div>
	                    <div class="right-list-box pr">
	                    	<div>
		                    		<img src="../Content/images/right-list-box.jpg" title="产品" class="right-list-box-img" />
									<h1 class="right-list-box-h1"><a href="" target="_blank">碧雅德Beyond 喜马拉雅深层保湿修护精华油 文字长了就会这样显示aaaaaaaffffffffffffffffffff</a></h1>
									<p class="right-list-box-price">&yen;<span>125.00</span>+63积分<i class="right-list-box-price-xp">新品</i><i class="right-list-box-price-cx">促销</i></p>
									<div class="right-list-box-pj">99%的买家评价<span><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i></span></div>
									<div class="mt15 ml25"><button class="btn-buynow fl mr5" type="button">加入购物车</button><button class="btn-collect fl" type="button"><i class="cssgaga icon-star"></i>收藏</button></div>
							</div>
							<div class="right-list-box-hover" style='display: none'>
		                    		<div class="right-list-box-hover-left">
		                    			<ul class="mt37 pr">
		                    				<li class="on"><img src="../Content/images/pic-small.png" alt='商品' /></li>
		                    				<li><img src="../Content/images/pic-small.png" alt='商品' /></li>
		                    				<li><img src="../Content/images/pic-small.png" alt='商品' /></li>
		                    			</ul>
		                    		</div>
		                    		<div class="right-list-box-hover-right">
		                    			<img src="../Content/images/right-list-box.jpg" title="产品" class="right-list-box-img" />
										<h1 class="right-list-box-h1"><a href="" target="_blank">碧雅德Beyond 喜马拉雅深层保湿修护精华油 文字长了就会这样显示aaaaaaaffffffffffffffffffff</a></h1>
										<p class="right-list-box-price">&yen;<span>125.00</span>+63积分<i class="right-list-box-price-xp">新品</i><i class="right-list-box-price-cx">促销</i></p>
										<div class="right-list-box-pj">99%的买家评价<span><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i></span></div>
										<div class="mt15 ml25 clearfix"><button class="btn-buynow fl mr5" type="button">加入购物车</button><button class="btn-collect fl" type="button"><i class="cssgaga icon-star"></i>收藏</button></div>
											<div class="right-list-box-hover-ms clearfix">
			                    			<p>改善皱纹</p>
			                    			<p>美白保湿</p>
			                    			</div>
		                    		</div>
		                    		
	                    	</div>
	                    </div>
	                    <div class="right-list-box pr">
	                    	<div>
		                    		<img src="../Content/images/right-list-box.jpg" title="产品" class="right-list-box-img" />
									<h1 class="right-list-box-h1"><a href="" target="_blank">碧雅德Beyond 喜马拉雅深层保湿修护精华油 文字长了就会这样显示aaaaaaaffffffffffffffffffff</a></h1>
									<p class="right-list-box-price">&yen;<span>125.00</span>+63积分<i class="right-list-box-price-xp">新品</i><i class="right-list-box-price-cx">促销</i></p>
									<div class="right-list-box-pj">99%的买家评价<span><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i></span></div>
									<div class="mt15 ml25"><button class="btn-buynow fl mr5" type="button">加入购物车</button><button class="btn-collect fl" type="button"><i class="cssgaga icon-star"></i>收藏</button></div>
							</div>
							<div class="right-list-box-hover" style='display: none'>
		                    		<div class="right-list-box-hover-left">
		                    			<ul class="mt37 pr">
		                    				<li class="on"><img src="../Content/images/pic-small.png" alt='商品' /></li>
		                    				<li><img src="../Content/images/pic-small.png" alt='商品' /></li>
		                    				<li><img src="../Content/images/pic-small.png" alt='商品' /></li>
		                    			</ul>
		                    		</div>
		                    		<div class="right-list-box-hover-right">
		                    			<img src="../Content/images/right-list-box.jpg" title="产品" class="right-list-box-img" />
										<h1 class="right-list-box-h1"><a href="" target="_blank">碧雅德Beyond 喜马拉雅深层保湿修护精华油 文字长了就会这样显示aaaaaaaffffffffffffffffffff</a></h1>
										<p class="right-list-box-price">&yen;<span>125.00</span>+63积分<i class="right-list-box-price-xp">新品</i><i class="right-list-box-price-cx">促销</i></p>
										<div class="right-list-box-pj">99%的买家评价<span><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i></span></div>
										<div class="mt15 ml25 clearfix"><button class="btn-buynow fl mr5" type="button">加入购物车</button><button class="btn-collect fl" type="button"><i class="cssgaga icon-star"></i>收藏</button></div>
											<div class="right-list-box-hover-ms clearfix">
			                    			<p>改善皱纹</p>
			                    			<p>美白保湿</p>
			                    			</div>
		                    		</div>
		                    		
	                    	</div>
	                    </div>
	                    <div class="right-list-box pr">
	                    	<div>
		                    		<img src="../Content/images/right-list-box.jpg" title="产品" class="right-list-box-img" />
									<h1 class="right-list-box-h1"><a href="" target="_blank">碧雅德Beyond 喜马拉雅深层保湿修护精华油 文字长了就会这样显示aaaaaaaffffffffffffffffffff</a></h1>
									<p class="right-list-box-price">&yen;<span>125.00</span>+63积分<i class="right-list-box-price-xp">新品</i><i class="right-list-box-price-cx">促销</i></p>
									<div class="right-list-box-pj">99%的买家评价<span><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i></span></div>
									<div class="mt15 ml25"><button class="btn-buynow fl mr5" type="button">加入购物车</button><button class="btn-collect fl" type="button"><i class="cssgaga icon-star"></i>收藏</button></div>
							</div>
							<div class="right-list-box-hover" style='display: none'>
		                    		<div class="right-list-box-hover-left">
		                    			<ul class="mt37 pr">
		                    				<li class="on"><img src="../Content/images/pic-small.png" alt='商品' /></li>
		                    				<li><img src="../Content/images/pic-small.png" alt='商品' /></li>
		                    				<li><img src="../Content/images/pic-small.png" alt='商品' /></li>
		                    			</ul>
		                    		</div>
		                    		<div class="right-list-box-hover-right">
		                    			<img src="../Content/images/right-list-box.jpg" title="产品" class="right-list-box-img" />
										<h1 class="right-list-box-h1"><a href="" target="_blank">碧雅德Beyond 喜马拉雅深层保湿修护精华油 文字长了就会这样显示aaaaaaaffffffffffffffffffff</a></h1>
										<p class="right-list-box-price">&yen;<span>125.00</span>+63积分<i class="right-list-box-price-xp">新品</i><i class="right-list-box-price-cx">促销</i></p>
										<div class="right-list-box-pj">99%的买家评价<span><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i></span></div>
										<div class="mt15 ml25 clearfix"><button class="btn-buynow fl mr5" type="button">加入购物车</button><button class="btn-collect fl" type="button"><i class="cssgaga icon-star"></i>收藏</button></div>
											<div class="right-list-box-hover-ms clearfix">
			                    			<p>改善皱纹</p>
			                    			<p>美白保湿</p>
			                    			</div>
		                    		</div>
		                    		
	                    	</div>
	                    </div>
	                    <div class="right-list-box pr">
	                    	<div>
		                    		<img src="../Content/images/right-list-box.jpg" title="产品" class="right-list-box-img" />
									<h1 class="right-list-box-h1"><a href="" target="_blank">碧雅德Beyond 喜马拉雅深层保湿修护精华油 文字长了就会这样显示aaaaaaaffffffffffffffffffff</a></h1>
									<p class="right-list-box-price">&yen;<span>125.00</span>+63积分<i class="right-list-box-price-xp">新品</i><i class="right-list-box-price-cx">促销</i></p>
									<div class="right-list-box-pj">99%的买家评价<span><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i></span></div>
									<div class="mt15 ml25"><button class="btn-buynow fl mr5" type="button">加入购物车</button><button class="btn-collect fl" type="button"><i class="cssgaga icon-star"></i>收藏</button></div>
							</div>
							<div class="right-list-box-hover" style='display: none'>
		                    		<div class="right-list-box-hover-left">
		                    			<ul class="mt37 pr">
		                    				<li class="on"><img src="../Content/images/pic-small.png" alt='商品' /></li>
		                    				<li><img src="../Content/images/pic-small.png" alt='商品' /></li>
		                    				<li><img src="../Content/images/pic-small.png" alt='商品' /></li>
		                    			</ul>
		                    		</div>
		                    		<div class="right-list-box-hover-right">
		                    			<img src="../Content/images/right-list-box.jpg" title="产品" class="right-list-box-img" />
										<h1 class="right-list-box-h1"><a href="" target="_blank">碧雅德Beyond 喜马拉雅深层保湿修护精华油 文字长了就会这样显示aaaaaaaffffffffffffffffffff</a></h1>
										<p class="right-list-box-price">&yen;<span>125.00</span>+63积分<i class="right-list-box-price-xp">新品</i><i class="right-list-box-price-cx">促销</i></p>
										<div class="right-list-box-pj">99%的买家评价<span><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i></span></div>
										<div class="mt15 ml25 clearfix"><button class="btn-buynow fl mr5" type="button">加入购物车</button><button class="btn-collect fl" type="button"><i class="cssgaga icon-star"></i>收藏</button></div>
											<div class="right-list-box-hover-ms clearfix">
			                    			<p>改善皱纹</p>
			                    			<p>美白保湿</p>
			                    			</div>
		                    		</div>
		                    		
	                    	</div>
	                    </div>
	                    <div class="right-list-box pr">
	                    	<div>
		                    		<img src="../Content/images/right-list-box.jpg" title="产品" class="right-list-box-img" />
									<h1 class="right-list-box-h1"><a href="" target="_blank">碧雅德Beyond 喜马拉雅深层保湿修护精华油 文字长了就会这样显示aaaaaaaffffffffffffffffffff</a></h1>
									<p class="right-list-box-price">&yen;<span>125.00</span>+63积分<i class="right-list-box-price-xp">新品</i><i class="right-list-box-price-cx">促销</i></p>
									<div class="right-list-box-pj">99%的买家评价<span><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i></span></div>
									<div class="mt15 ml25"><button class="btn-buynow fl mr5" type="button">加入购物车</button><button class="btn-collect fl" type="button"><i class="cssgaga icon-star"></i>收藏</button></div>
							</div>
							<div class="right-list-box-hover" style='display: none'>
		                    		<div class="right-list-box-hover-left">
		                    			<ul class="mt37 pr">
		                    				<li class="on"><img src="../Content/images/pic-small.png" alt='商品' /></li>
		                    				<li><img src="../Content/images/pic-small.png" alt='商品' /></li>
		                    				<li><img src="../Content/images/pic-small.png" alt='商品' /></li>
		                    			</ul>
		                    		</div>
		                    		<div class="right-list-box-hover-right">
		                    			<img src="../Content/images/right-list-box.jpg" title="产品" class="right-list-box-img" />
										<h1 class="right-list-box-h1"><a href="" target="_blank">碧雅德Beyond 喜马拉雅深层保湿修护精华油 文字长了就会这样显示aaaaaaaffffffffffffffffffff</a></h1>
										<p class="right-list-box-price">&yen;<span>125.00</span>+63积分<i class="right-list-box-price-xp">新品</i><i class="right-list-box-price-cx">促销</i></p>
										<div class="right-list-box-pj">99%的买家评价<span><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i></span></div>
										<div class="mt15 ml25 clearfix"><button class="btn-buynow fl mr5" type="button">加入购物车</button><button class="btn-collect fl" type="button"><i class="cssgaga icon-star"></i>收藏</button></div>
											<div class="right-list-box-hover-ms clearfix">
			                    			<p>改善皱纹</p>
			                    			<p>美白保湿</p>
			                    			</div>
		                    		</div>
		                    		
	                    	</div>
	                    </div>
	                    <div class="right-list-box pr">
	                    	<div>
		                    		<img src="../Content/images/right-list-box.jpg" title="产品" class="right-list-box-img" />
									<h1 class="right-list-box-h1"><a href="" target="_blank">碧雅德Beyond 喜马拉雅深层保湿修护精华油 文字长了就会这样显示aaaaaaaffffffffffffffffffff</a></h1>
									<p class="right-list-box-price">&yen;<span>125.00</span>+63积分<i class="right-list-box-price-xp">新品</i><i class="right-list-box-price-cx">促销</i></p>
									<div class="right-list-box-pj">99%的买家评价<span><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i></span></div>
									<div class="mt15 ml25"><button class="btn-buynow fl mr5" type="button">加入购物车</button><button class="btn-collect fl" type="button"><i class="cssgaga icon-star"></i>收藏</button></div>
							</div>
							<div class="right-list-box-hover" style='display: none'>
		                    		<div class="right-list-box-hover-left">
		                    			<ul class="mt37 pr">
		                    				<li class="on"><img src="../Content/images/pic-small.png" alt='商品' /></li>
		                    				<li><img src="../Content/images/pic-small.png" alt='商品' /></li>
		                    				<li><img src="../Content/images/pic-small.png" alt='商品' /></li>
		                    			</ul>
		                    		</div>
		                    		<div class="right-list-box-hover-right">
		                    			<img src="../Content/images/right-list-box.jpg" title="产品" class="right-list-box-img" />
										<h1 class="right-list-box-h1"><a href="" target="_blank">碧雅德Beyond 喜马拉雅深层保湿修护精华油 文字长了就会这样显示aaaaaaaffffffffffffffffffff</a></h1>
										<p class="right-list-box-price">&yen;<span>125.00</span>+63积分<i class="right-list-box-price-xp">新品</i><i class="right-list-box-price-cx">促销</i></p>
										<div class="right-list-box-pj">99%的买家评价<span><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i></span></div>
										<div class="mt15 ml25 clearfix"><button class="btn-buynow fl mr5" type="button">加入购物车</button><button class="btn-collect fl" type="button"><i class="cssgaga icon-star"></i>收藏</button></div>
											<div class="right-list-box-hover-ms clearfix">
			                    			<p>改善皱纹</p>
			                    			<p>美白保湿</p>
			                    			</div>
		                    		</div>
		                    		
	                    	</div>
	                    </div>
	                    <div class="right-list-box pr">
	                    	<div>
		                    		<img src="../Content/images/right-list-box.jpg" title="产品" class="right-list-box-img" />
									<h1 class="right-list-box-h1"><a href="" target="_blank">碧雅德Beyond 喜马拉雅深层保湿修护精华油 文字长了就会这样显示aaaaaaaffffffffffffffffffff</a></h1>
									<p class="right-list-box-price">&yen;<span>125.00</span>+63积分<i class="right-list-box-price-xp">新品</i><i class="right-list-box-price-cx">促销</i></p>
									<div class="right-list-box-pj">99%的买家评价<span><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i></span></div>
									<div class="mt15 ml25"><button class="btn-buynow fl mr5" type="button">加入购物车</button><button class="btn-collect fl" type="button"><i class="cssgaga icon-star"></i>收藏</button></div>
							</div>
							<div class="right-list-box-hover" style='display: none'>
		                    		<div class="right-list-box-hover-left">
		                    			<ul class="mt37 pr">
		                    				<li class="on"><img src="../Content/images/pic-small.png" alt='商品' /></li>
		                    				<li><img src="../Content/images/pic-small.png" alt='商品' /></li>
		                    				<li><img src="../Content/images/pic-small.png" alt='商品' /></li>
		                    			</ul>
		                    		</div>
		                    		<div class="right-list-box-hover-right">
		                    			<img src="../Content/images/right-list-box.jpg" title="产品" class="right-list-box-img" />
										<h1 class="right-list-box-h1"><a href="" target="_blank">碧雅德Beyond 喜马拉雅深层保湿修护精华油 文字长了就会这样显示aaaaaaaffffffffffffffffffff</a></h1>
										<p class="right-list-box-price">&yen;<span>125.00</span>+63积分<i class="right-list-box-price-xp">新品</i><i class="right-list-box-price-cx">促销</i></p>
										<div class="right-list-box-pj">99%的买家评价<span><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i><i class="cssgaga icon-star"></i></span></div>
										<div class="mt15 ml25 clearfix"><button class="btn-buynow fl mr5" type="button">加入购物车</button><button class="btn-collect fl" type="button"><i class="cssgaga icon-star"></i>收藏</button></div>
											<div class="right-list-box-hover-ms clearfix">
			                    			<p>改善皱纹</p>
			                    			<p>美白保湿</p>
			                    			</div>
		                    		</div>
		                    		
	                    	</div>
	                    </div>
	                    
                    </div>

                </div>

            </div>
        </div>
        <!-- 右边栏/e -->
    </div>
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="../Script/allProduct.js"></script>
</body>

</html>
